<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>SVG Stripes Maker</title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="A free online SVG stripe pattern generator and maker. Create multi-stripe animated patterns, copy CSS or SVG code that is ready for you web projects, or just download the SVG file for free!" />
        <meta name="keywords" content="stripes, crochet, knitting, svg, animated svg">
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>